<div class="login_Form">
  <form [formGroup]="loginFormGroup" (ngSubmit)="submitLoginForm()">
    <mat-form-field>
      <mat-label>Email id:</mat-label>
      <input
        matInput
        placeholder="Enter email id"
        formControlName="email"
        name="email"
        required
        type="email"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input
        matInput
        placeholder="Enter password"
        formControlName="password"
        name="password"
        required
        type="password"
      />
    </mat-form-field>
    <p class="error" *ngIf="loginFormGroup.invalid && loginFormGroup.touched">
      <span>Invalid email id or Password</span>
    </p>
    <button type="submit" [disabled]="loginFormGroup.invalid">Login</button>
    <div class="option">
      <p>New User? <span (click)="newUserRegister()">Register</span></p>
    </div>
  </form>
</div>
